doctype 5
html
        head
                title Primera plantilla Jade
                script(src='http://code.jquery.com/jquery-1.10.1.min.js')
                script(src='js.js')
        body
                h1 
                        Nuestra primera plantilla Jade
                #contenedor
                        block content